{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier", "jest"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "plugin:@typescript-eslint/eslint-recommended"
  ],
  "env": {
    "browser": true,
    "node": true,
    "jest/globals": true
  },
  "rules": {
    "for-direction":"error",
    "no-await-in-loop":"error",
    "no-const-assign": "error",
    "no-invalid-regexp": "error",
    "no-irregular-whitespace": "error",
    "no-var":"error",
    "prefer-const": "warn",
    "@typescript-eslint/naming-convention": [
      "error",
      {
        "selector": "variableLike", "format": ["camelCase", "UPPER_CASE"]
      }
    ]
  }
}
